:root {
    --spacing-none: 0;
    --spacing-01: calc(var(--base-unit) / 2);
    --spacing-02: var(--base-unit);
    --spacing-03: calc(var(--base-unit) * 2);
    --spacing-04: calc(var(--base-unit) * 3);
    --spacing-05: calc(var(--base-unit) * 4);
    --spacing-06: calc(var(--base-unit) * 5);
    --spacing-07: calc(var(--base-unit) * 6);
    --spacing-08: calc(var(--base-unit) * 8);
    --spacing-09: calc(var(--base-unit) * 10);
    --spacing-10: calc(var(--base-unit) * 12);
}