.xv-icon-button.xv-icon-button-ghost {

    --iconbtn-bg: transparent;
    --iconbtn-color: var(--color__text__base);

    &:hover { 
        --iconbtn-bg: var(--color__surface-layer-01);
    }

    &:disabled {
        --iconbtn-bg: transparent;
        --iconbtn-color: var(--color__text__brighter-02);
    }

    &.xv-icon-button-ghost--active { 
        --iconbtn-bg: var(--color__surface-layer-02); 
    }

    &.xv-icon-button-ghost--active:hover { 
        --iconbtn-bg: var(--color__surface-layer-03);
    }

}
