.xv-callout {
  display: flex;
  align-items: center;
  gap: var(--gap-02);
  padding-block: var(--spacing-03);
  padding-inline: var(--spacing-04);
  border-radius: var(--border-radius-02);
  gap: var(--gap-04);
  justify-content: space-between;
  border: 1px solid transparent;
  font: var(--text__body-medium);
  width: 100%;
}

.xv-callout__icon {
  flex-shrink: 0;
}

.xv-callout__message {
  flex: 1;
}

.xv-callout__info {
    display: flex;
    align-items: center;
    gap: var(--gap-02);
}

.xv-callout__trailing {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.xv-callout--informative {
  background-color: oklch( from var(--color__system-feedback__blue) l c h / .24);
  border-color: oklch( from var(--color__system-feedback__blue) l c h / .40);
  color: var(--color__text__base);

  & .xv-callout__icon {
    color: var(--color__system-feedback__blue);
  }
}

.xv-callout--warning {
  background-color: oklch( from var(--color__system-feedback__yellow) l c h / .24);
  border-color: oklch( from var(--color__system-feedback__yellow) l c h / .40);
  color: var(--color__text__base);

  & .xv-callout__icon {
    color: var(--color__system-feedback__yellow);
  }
}

.xv-callout--error {
  background-color: oklch( from var(--color__system-feedback__red-high) l c h / .24);
  border-color: oklch( from var(--color__system-feedback__red-high) l c h / .40);
  color: var(--color__text__base);

  & .xv-callout__icon {
    color: var(--color__text__danger);
  }
}

.xv-callout__actions {
  display: flex;
  align-items: center;
  gap: var(--gap-none);
  flex-shrink: 0;
}