# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
storybook-static
**/storybook-static

# Vite
**/.vite

# OS
.DS_Store
**/.DS_Store

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo