.xv-icon-button.xv-icon-button-outline {

    --iconbtn-bg: transparent;
    --iconbtn-color: var(--color__text__base);
    --iconbtn-border: var(--color__border__normal);

    &:hover { 
        --iconbtn-bg: var(--color__surface-layer-01);
        --iconbtn-border: var(--color__border__hover);
    }

    &:disabled {
        --iconbtn-bg: transparent;
        --iconbtn-color: var(--color__text__brighter-02);
        --iconbtn-border: var(--color__border__disabled);
    }

    &.xv-icon-button-outline--active { 
        --iconbtn-bg: var(--color__surface-layer-02); 
        --iconbtn-border: var(--color__border__active);
    }

    &.xv-icon-button-outline--active:hover { 
        --iconbtn-bg: var(--color__surface-layer-03);
    }

}

