.xv-text-button.xv-text-button-ghost {
  --btn-bg: transparent;
  --btn-color: var(--color__text__base);


  &:hover:not(:disabled) {
    --btn-bg: var(--color__surface-layer-01);
  }

  &:disabled {
    --btn-bg: transparent;
    --btn-color: var(--color__text__brighter-02);
  }

  &.xv-text-button-ghost--active {
    --btn-bg: var(--color__surface-layer-02);
  }

  &.xv-text-button-ghost--active:hover {
    --btn-bg: var(--color__surface-layer-03);
  }
}
