.xv-icon-button {

  --iconbtn-bg: transparent;
  --iconbtn-color: transparent;
  --iconbtn-border: transparent;

    background-color: var(--iconbtn-bg);
    outline: none;
    border: 1px solid var(--iconbtn-border);
    color: var(--iconbtn-color);
    width: var(--size-06);
    height: var(--size-06);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-02);
    cursor: pointer;
    transition: background-color 150ms ease, box-shadow 150ms ease;
    
    &:focus-visible {
        box-shadow: var(--effect__focus-ring);
    }

    &:disabled {
        cursor: not-allowed;
    }

    & > svg {
    width: 24px;
    height: 24px;
  }

   

}


.xv-icon-button--small {
  width: var(--size-04);
  height: var(--size-04);

  & > svg {
    width: 16px;
    height: 16px;
  }
}