.xv-icon-button.xv-icon-button-danger {
    --iconbtn-bg: var(--color__status__danger);
    --iconbtn-color: var(--color__text__over-color);

    &:hover {
        --iconbtn-bg: var(--color__status__danger__hover);
    }

    &:disabled {
       --iconbtn-bg: var(--color__status__danger__disabled);
        --iconbtn-color: var(--color__text__brighter-02);
    }
}