.xv-text-button.xv-text-button-primary {
  background-color: var(--color__status__normal);
  color: var(--color__text__over-color);

  &:hover:not(:disabled) {
    background-color: var(--color__status__hover);
  }

  &:disabled {
    background-color: var(--color__status__disabled);
    color: var(--color__text__brighter-02);
  }
}