.xv-text-button.xv-text-button-primary {

  --btn-bg: var(--color__status__normal);
  --btn-color: var(--color__text__over-color);

  &:hover:not(:disabled) {

    --btn-bg: var(--color__status__hover);
    
  }

  &:disabled {

    --btn-bg: var(--color__status__disabled);
    --btn-color: var(--color__text__brighter-02);

  }
}