.xv-tag {
  display: inline-flex;
  align-items: center;
  padding-right: var(--spacing-01);
  padding-left: var(--spacing-03);
  border-radius: var(--border-radius-02);
  background-color: oklch(from var(--tag-color) l c h / .16);
  font: var(--text__body-large);
  color: var(--color__text__base);
  box-shadow: inset 0 0 0 1px oklch(from var(--tag-color) l c h / .24);
  height: var(--size-05);
}

.xv-tag__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 6px;
}

.xv-tag--yellow {
  --tag-color: var(--color__system-feedback__yellow);
  
}

.xv-tag--blue {
  --tag-color: var(--color__system-feedback__blue);
  
}

.xv-tag--orange {
  --tag-color: var(--color__system-feedback__orange);
  
}

.xv-tag--green {
  --tag-color: var(--color__system-feedback__green);
  
}

.xv-tag--gray {
    --tag-color: var(--color__border__normal);
}

.xv-tag--red-high {
    --tag-color: var(--color__system-feedback__red-high);
   
}

.xv-tag--red-med {
    --tag-color: var(--color__system-feedback__red-medium);
    
}

.xv-tag--red-low {
    --tag-color: var(--color__system-feedback__red-low);
    
}