.xv-text-input {
  display: flex;
  flex-direction: column;
  font: var(--text__body-large);
  color: var(--color__text-base);
  gap: var(--gap-01);
  width: auto;
}

.xv-text-input__label {
  font: var(--text__body-medium);
}

.xv-text-input__description {
  color: var(--color__text__brighter-01);
  font: var(--text__body-medium);
}

.xv-text-input__control {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  box-sizing: border-box;
  min-width: 116px;
  width: 100%;
  min-height: 32px;
  margin: 0;
  border: 1px solid transparent;
  font: var(--text__body-medium);
  padding-block: var(--spacing-02);
  padding-inline: var(--spacing-03);
  border-radius: var(--border-radius-02);
  background-color: var(--color__background-04);
  transition: background-color 150ms ease, box-shadow 150ms ease,
    border-color 150ms ease;

  &:hover {
    background-color: var(--color__background-05);
  }

  &:focus-visible {
    box-shadow: var(--effect__focus-ring);
  }
}

.xv-text-input__control--error {
  border: 1px solid var(--color__status__danger);
}

.xv-text-input__error {
  font: var(--text__body-medium);
  padding: var(--spacing-01);
  color: var(--color__text__danger);
  display: flex;
  align-items: center;
  gap: var(--gap-01);

  &>svg {
    color: var(--color__system-feedback__red-medium);
  }
}

.xv-text-input__control:disabled {
  cursor: not-allowed;
  color: var(--color__text__brighter-02);
  background: var(--color__background-02);
  border: 1px solid var(--color__border__subtle);
}

.xv-text-input__control-wrapper {
  position: relative;
  max-width: 272px;
}

.xv-text-input__trailing {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.xv-text-input__trailing svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}



.xv-text-input__control[type="search"]::-webkit-search-cancel-button {
  display: none;
}