.xv-text-button.xv-text-button-danger {
  
  --btn-bg: var(--color__status__danger);
  --btn-color: var(--color__text__over-color);

  &:hover:not(:disabled) {
    --btn-bg: var(--color__status__danger__hover);
  }

  &:disabled {
    --btn-bg: var(--color__status__danger__disabled);
    --btn-color: var(--color__text__brighter-02);
  }
}
