.xv-status-dot {
  display: inline-flex;
  inline-size: 8px;
  block-size: 8px;
  border-radius: var(--border-radius-full);
  box-shadow: 0 0 0 1px var(--color__focus-ring__inner), 0 0 0 3px oklch(from var(--statusDot-color) l c h / .4);
  background-color: var(--statusDot-color);
}

.xv-status-dot--neutral {
  background-color: light-dark(
    var(--color__background-04),
    var(--color__surface-layer-03)
  );
}

.xv-status-dot--gray {
  --statusDot-color: var(--color__background-04__inverted);
}

.xv-status-dot--blue {
  --statusDot-color: var(--color__system-feedback__blue);
}

.xv-status-dot--green {
  --statusDot-color: var(--color__system-feedback__green);
}

.xv-status-dot--yellow {
  --statusDot-color: var(--color__system-feedback__yellow);
}

.xv-status-dot--orange {
  --statusDot-color: var(--color__system-feedback__orange);
}

.xv-status-dot--red-high {
  --statusDot-color: var(--color__system-feedback__red-high);
}

.xv-status-dot--red-med {
  --statusDot-color: var(--color__system-feedback__red-medium);
}

.xv-status-dot--red-low {
  --statusDot-color: var(--color__system-feedback__red-low);
}
