.xv-text-button {

  --btn-bg: transparent;
  --btn-border: transparent;
  --btn-color: var(--color__text__over-color);

  background-color: var(--btn-bg);
  outline: none;
  border: 1px solid var(--btn-border);
  color: var(--btn-color);
  padding-inline: var(--spacing-03);
  gap: var(--gap-02);
  height: var(--size-06);
  font: var(--text__body-medium);
  border-radius: var(--border-radius-02);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 150ms ease, box-shadow 150ms ease;

  &:focus-visible {
    box-shadow: var(--effect__focus-ring);
  }

  &:disabled {
    cursor: not-allowed;
  }
}


.xv-text-button__slot {

  min-width: var(--size-02);
  display: flex;
  align-items: center;
  justify-content: center;

 
}
