.xv-text-button {
  background-color: transparent;
  outline: none;
  border: none;
  padding-inline: var(--spacing__03);
  height: var(--size__06);
  font: var(--text__body-medium);
  border-radius: var(--border-radius__02);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 150ms ease, box-shadow 150ms ease;

  &:focus-visible {
    box-shadow: var(--effect__focus-ring);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.xv-text-button__label {
  padding-inline: var(--spacing__01);
}

.xv-text-button__slot {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
