.xv-radio {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--gap-02);
  cursor: pointer;
  font: var(--text__body-large);
}

.xv-radio__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.xv-radio__control {
  position: relative;
  width: var(--size-02);
  height: var(--size-02);
  flex-shrink: 0;
  border-radius: var(--border-radius-full);
  background-color: var(--color__background-04);

  transition: background-color 150ms ease, border-color 150ms ease, box-shadow 150ms ease;
  margin-top: 4px;
}

.xv-radio__control::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: var(--border-radius-full);
  background-color: transparent;
  transition: background-color 150ms ease;
}



.xv-radio__input:checked + .xv-radio__control::after {
  background-color: var(--color__status__normal);
}

.xv-radio__input:disabled + .xv-radio__control {
  background-color: var(--color__background-03);
  
}

.xv-radio__input:checked:disabled + .xv-radio__control::after {
  background-color: var(--color__status__disabled);
}

.xv-radio__input:focus-visible + .xv-radio__control {
  box-shadow: var(--effect__focus-ring);
}

.xv-radio:has(.xv-radio__input:disabled) {
  cursor: not-allowed;
}

.xv-radio__info {
  display: flex;
  flex-direction: column;
}

.xv-radio__label {
  color: var(--color__text__base);
  user-select: none;
}

.xv-radio__description {
  font: var(--text__body-medium);
  color: var(--color__text__brighter-01);
  user-select: none;
}

.xv-radio:has(.xv-radio__input:disabled) .xv-radio__label,
.xv-radio:has(.xv-radio__input:disabled) .xv-radio__description {
  color: var(--color__text__brighter-02);
}

.xv-radio-group {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-01);
}

.xv-radio-group__label {
  font: var(--text__body-large);
  color: var(--color__text__base);
  margin-bottom: var(--gap-01);
}

.xv-radio-group__description {
  font: var(--text__body-medium);
  color: var(--color__text__brighter-01);
  margin: 0 0 var(--gap-02);
}

.xv-radio-group__options {
  display: flex;
  flex-direction: column;
  gap: var(--gap-02);
}

.xv-radio-group__options--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}