.xv-badge {
    min-width: var(--size__04);
    height: var(--size__04);
    background: oklch(from var(--badge-color) l c h / 12%);
        
    border: 1px solid var(--badge-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius__01);
    box-shadow: 0 0 0 1px var(--color__focus-ring__inner), 0 0 0 3px oklch(from var(--badge-color) l c h / .4);
    font: var(--text__body-small__bold);
    color:  var(--color__text__base);
    position: relative;

}



.xv-badge--count {
    padding-inline: var(--spacing__02);
}

.xv-badge--icon {
    width: var(--size__04);
}

.xv-badge--red-high {
    --badge-color: var(--color__system-feedback__red-high)
}

.xv-badge--red-medium {
    --badge-color: var(--color__system-feedback__red-medium);
}

.xv-badge--red-low {
    --badge-color: var(--color__system-feedback__red-low);
}

.xv-badge--blue {
    --badge-color: var(--color__system-feedback__blue);
}

.xv-badge--green {
    --badge-color: var(--color__system-feedback__green);
}

.xv-badge--orange {
    --badge-color: var(--color__system-feedback__orange);
    
}

.xv-badge--yellow {
    --badge-color: var(--color__system-feedback__yellow);

}