.xv-icon-button.xv-icon-button-primary {
    --iconbtn-bg: var(--color__status__normal);
    --iconbtn-color: var(--color__text__over-color);

    &:hover {
        --iconbtn-bg: var(--color__status__hover);
    }

    &:disabled {
        --iconbtn-bg: var(--color__status__disabled);
        --iconbtn-color: var(--color__text__brighter-02);
    }
}